name: Build Release

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.4"

      - name: Install dependencies
        run: flutter pub get

      - name: Run analysis
        run: flutter analyze

      - name: Build APK
        run: flutter build apk --release

      - name: Bundle Release APK
        run: flutter build appbundle --release
